<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/animacija.css">
    <title>Bicycle tours</title>
</head>
<body>

<!--Анимација-->
<!--<div id="Animacija"></div>-->

<header>
    <h1>Bicycle tours</h1>
    <div class="prevod">
    <a href="{{ url_for('index') }}">MK
        <img src="static/images/mk.png" alt="MK" class="zname">
    </a>
    <a href="{{ url_for('index_en') }}">EN
        <img src="static/images/en.png" alt="EN" class="zname">
    </a>
    </div>
</header>

<!-- Хедер со хардбургер мени -->
    <nav class="navbar">
        <div class="logo">
            <a href="#home">
                <img src="static/images/joco.png" alt="JocoBike Logo" class="logo-img">
            </a>
        </div>
        <div class="menu-icon" id="menu-icon">
            &#9776; <!-- Симбол за хардбургер -->
        </div>
        <ul class="nav-links" id="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gear">Equipment</a></li>
            <li><a href="#tours">Tours</a></li>
            <li><a href="#registration">Make an tours</a></li>
            <li><a href="{{ url_for('gallery_en') }}">Gallery</a></li>
            <li><a href="{{ url_for('soop_en') }}">Announcement</a></li>
        </ul>
    </nav>

<!-- Почетна страна -->
<section id="home">
    <h2>Welcome to our bike tours</h2>
    <p>Enjoy unforgettable cycling adventures through the mountains, the beautiful lake and the beauties of Struga and Ohrid.</p><br>
    <img src="static/images/pocetnaslika.jpg" alt="Велосипедска тура">
    <div class="cta">
        <h2>Get ready for an unforgettable cycling adventure.</h2>
        <a href="#registration" class="cta-button">Book Now</a>
    </div>
    
</section>

<!--Анимација-->
<section id="animacija" class="animacija-container">
    <h2>In the spirit of cycling</h2>
    <div class="video-wrapper">
        <video class="video-player" controls>
            <source src="static/images/animacija.mp4" type="video/mp4">
            Your browser does not support the video.
        </video>
    </div>
</section>

<!-- Секција За нас -->
<section id="about">
    <h2>About</h2>
    <div class="guide">
        <img src="static/images/slika.jpg" alt="Водич 1">
        <h3>Jovan Belkoski</h3><br>
        <p>A head guide with many years of experience in organizing bicycle tours through Struga and Ohrid.</p>
    </div>
    <!--<div class="guide">
        <img src="static/images/prazna.png" alt="Водич 2">
        <h3>Stojan Efrimov</h3><br>
        <p>A hiking and cycling enthusiast, Stojan leads tours for nature lovers.</p>
    </div>-->
    <div class="guide">
        <img src="static/images/slika3.jpg" alt="Водич 3">
        <h3>Aleksandar Trajkov</h3><br>
        <p>Expert in extreme cycling adventures with an emphasis on safety and fun.</p>
    </div>
    <!--<div class="guide">
        <img src="static/images/slika4.jpg" alt="Водич 4">
        <h3>Marija Mitrevska</h3><br>
        <p>Event organizer with high competences for cycling enthusiasts.</p>
    </div>-->
</section>

<!-- Секција Опрема -->
<section id="gear">
    <h2>Equipment to be worn</h2><br>
    <div class="equipment-list">
        <div class="equipment-item">
            <img src="static/images/slem.jpg" alt="Заштитен шлем">
            <h3 style="color: #2980b9;">Safety helmet</h3><br>
            <p style="color: #7f8c8d;">For your safety, wearing a bicycle helmet is mandatory.</p>
        </div>
        <div class="equipment-item">
            <img src="static/images/tocak.jpg" alt="Велосипед" style="margin-top:28px;">
            <h3 style="color: #2980b9;">Bicycle with full equipment</h3><br>
            <p style="color: #7f8c8d;">Make sure your bike is in excellent condition.</p>
        </div>

        <div class="equipment-item">
            <img src="static/images/gumi.jpg" alt="Резервни гуми">
            <h3 style="color: #2980b9;">Spare tires and repair kit</h3><br>
            <p style="color: #7f8c8d;">Prepare for uncomfortable situations.</p>
        </div>
        <div class="equipment-item">
            <img src="static/images/vodasport.jpg" alt="Вода">
            <h3 style="color: #2980b9;">Water and energy gels</h3><br>
            <p style="color: #7f8c8d;">Stay hydrated and energized.</p>
        </div>

        <div class="equipment-item">
            <img src="static/images/obleka.jpg" alt="Спортска облека">
            <h3 style="color: #2980b9;">Comfortable sportswear</h3><br>
            <p style="color: #7f8c8d;">Choose comfortable clothing for your bike ride.</p>
        </div>
        <div class="equipment-item">
            <img src="static/images/svetlo.jpg" alt="Светла">
            <h3 style="color: #2980b9;">Front and rear lighting</h3><br>
            <p style="color: #7f8c8d;">Take care of your own safety and the safety of others.</p>
        </div>
    </div>
</section>

<!-- Секција Тури -->
<section id="tours">
    <h2 style="color:white;">Our bike tours</h2>
    <div class="tour-list">
        <div class="tour-item" onclick="openRegistrationForm('Тура 1: Планинска авантура')">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt7WZmBybLW1190jQ6uL4O9sRFFhrPffyx_LcM2I0XnSwZtNW9ztrlLMznIEpJ3gvEeak&usqp=CAU" alt="Тура 1">
            <h3 style="color: #2980b9;">Tour 1: Mountain Adventure</h3><br>
            <p style="color: #7f8c8d;">Date: -- October 2024</p><br>
            <p style="color: #7f8c8d;">Location: Struga-Ohrid-Velestovo, Ohrid</p><br>
            <p style="color: #7f8c8d;">Start: 14:00, Karaorman, Struga</p><br>
        </div>
        <div class="tour-item" onclick="openRegistrationForm('Тура 2: Прекрасни езера')">
            <img src="https://i0.wp.com/turnimedakinisam.mk/wp-content/uploads/2021/06/01.jpg?fit=1030%2C773&ssl=1" alt="Тура 2">
            <h3 style="color: #2980b9;">Tour 2: Beautiful Lakes</h3><br>
            <p style="color: #7f8c8d;">Date: -- November 2024</p><br>
            <p style="color: #7f8c8d;">Location: Struga-Ohrid-Saint Naum</p><br>
            <p style="color: #7f8c8d;">Start: 09:00, Karaorman, Struga</p><br>
        </div>
        <div class="tour-item" onclick="openRegistrationForm('Тура 3: Градски велосипедизам')">
            <img src="https://www.hotebike.com/wp-content/uploads/2020/08/9-1.jpg" alt="Тура 3">
            <h3 style="color: #2980b9;">Tour 3: City cycling</h3><br>
            <p style="color: #7f8c8d;">Date: -- December 2024</p><br>
            <p style="color: #7f8c8d;">Location: Struga-Ohrid-Struga</p><br>
            <p style="color: #7f8c8d;">Start: 09:00, Karaorman, Struga</p><br>
        </div>
    </div>
</section>

<!--FAQ-->
<section id="faq">
    <h2>Frequently Asked Questions</h2><br><br>
    <div class="faq-item">
        <h3>How do I book a tour?</h3>
        <p>You can book a tour through our website, by selecting a tour and filling out the booking form.</p>
    </div>
    <div class="faq-item">
        <h3>What should I bring on the tour?</h3>
        <p>We recommend wearing comfortable shoes, clothing appropriate for the weather, and safety equipment.</p>
    </div>
    <div class="faq-item">
        <h3>Are the tours available in different languages?</h3>
        <p>Yes, our guides can lead tours in different languages. Please let us know your preference when booking.</p>
    </div>
    <div class="faq-item">
        <h3>Should we overcome unexpected situations, like a flat tire, on our own?</h3>
        <p>Of course not, we are a team and we always help each other, we are here to overcome any problem.</p>
    </div>
    <div class="faq-item">
        <h3>Do I have to pay to participate in your team?</h3>
        <p>No way, we do not ask for money from our members, just the desire and motivation for cycling.</p>
    </div>
    <div class="faq-item">
        <h3>Do I need to have a professional bike?</h3>
        <p>You can use any bike that is upright and can guarantee a successful bike tour.</p>
    </div>
</section>

<!--Lokacija-->
<section id="location">
    <h2>Our location</h2><br>
    <div class="paragraf">
    <p>That is the location from which every tour starts!!</p><br>
    </div>
    <div id="map"></div>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.932099291228!2d20.680019275867508!3d41.179648171326924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350e73e115e55b5%3A0x760223e5e3758e76!2sKaraorman%2C%20Struga!5e0!3m2!1sen!2smk!4v1728303726215!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div>
</section>

<!-- Секција Закажи термин -->
<section id="registration">
    <h2 style="color:white;">Make an appointment for a bicycle tour</h2><br><br>
    <div class="form-container" id="registrationForm">
        <form action="/register" method="POST">
        <input type="hidden" name="jazik" value="en">

<!--Flash порака во формата-->
<div id="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="alert {{ category }}">
            <span class="alert-icon">
                {% if category == 'success' %}
                    ✅
                {% elif category == 'error' %}
                    ❌
                {% endif %}
            </span>
            <span class="alert-message">{{ message }}</span>
        </div>
      {% endfor %}
    {% endwith %}
</div>

            <input type="hidden" id="tour_name" name="tour_name">
            <label for="first_name" style="color:white;">Name:</label><br>
            <input type="text" id="first_name" name="first_name" required><br>
            
            <label for="last_name" style="color:white;">Surname:</label><br>
            <input type="text" id="last_name" name="last_name" required><br>
            
            <label for="email" style="color:white;">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            
            <label for="phone" style="color:white;">Phone:</label><br>
            <input type="text" id="phone" name="phone" required><br>

            <label for="ime_tura" id="labela" style="color:white;">Select Tour:</label><br>
            <select id="ime_tura" name="ime_tura" method="POST">
                <option value="">Select tour</option>
                <option value="Струга-Охрид-Струга">Struga-Ohrid-Struga</option>
                <option value="Охрид-Св.Наум-Охрид">Ohrid-Saint Naum-Ohrid</option>
                <option value="Струга-Охрид-Велестово">Struga-Ohrid-Velestovo</option>
              </select>

            <input type="submit" value="Make an tour">
        </form>
        
<!--Скрипта каде што пораката се брише за 4 секунди во формата-->
<script>
    setTimeout(() => {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            alert.classList.add('hide');
            setTimeout(() => alert.remove(), 600);
        });
    }, 4000); 
</script>
   
    </div>
</section>

<!--Footer-->
<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h3>About</h3>
            <p>We are a team of professional guides who organize cycling tours through the most beautiful landscapes. Our mission is to provide you with unique adventures and unforgettable experiences.</p>
        </div>
        <div class="footer-section links">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#tours">Tours</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h3>Contact</h3>
            <p><i class="fas fa-phone-alt"></i> Phone: +389 77 585 470</p>
            <p><i class="fas fa-envelope"></i> Email: info@jocobike.mk</p>
            <p><i class="fas fa-map-marker-alt"></i> Adress: Struga, Macedonia</p>
        </div>
        <div class="footer-section social">
            <h3>Follow us</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Joco Bike Macedonia, Struga | All rights reserved.</p>
    </div>
</footer>

<!--Script-->
<script>
document.getElementById('registrationForm').onsubmit = function() {
    var tourName = 'Име на тура'; 
    document.getElementById('tour_name').value = tourName;
};
</script>

<script src="static/css/script.js"></script>

<!--Скрипта за хамбургер мени-->
<script>
    const menuIcon = document.getElementById('menu-icon');
    const navLinks = document.getElementById('nav-links');

    menuIcon.addEventListener('click', () => {
        navLinks.classList.toggle('active');
        menuIcon.classList.toggle('rotate');
    });

    // Автоматско затворање ако кликнеш надвор
    window.addEventListener('click', (e) => {
        if (!navLinks.contains(e.target) && !menuIcon.contains(e.target)) {
            navLinks.classList.remove('active');
            menuIcon.classList.remove('rotate');
        }
    });
</script>

<script src="static/css/animacija.js"></script>

</body>
</html>


