<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Логирај се</title>
</head>
<body>
    <div class="login-container">
    <h2>Логирај се за да пристапиш до административниот панел</h2>
    <form method="POST">
        <label for="password">Лозинка:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Логирај се</button>
    </form>
    </div>
</body>
</html>
