<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seasons</title>
    <link rel="stylesheet" href="static/css/stil.css">
</head>
<body>
    <div id="kontejner">
        <div id="letna-sezona" class="sezona">
            <h2>Summer season</h2>
            <ul>
                <li><a href="static/images/soopstenie1_en.pdf" target="_blank">Tour: Struga-Ohrid-Struga <br>Click</a></li>
                <li><a href="static/images/soopstenie1_en.pdf" target="_blank">Tour: Struga-Ohrid-Saint Naum <br>Click</a></li>
            </ul>
        </div>
        <div id="zimska-sezona" class="sezona">
            <h2>Winter season</h2>
            <ul>
                <li><a href="static/images/soopstenie1_en.pdf" target="_blank">Tour: Struga-Velestovo-Struga <br>Click</a></li>
                <li><a href="static/images/soopstenie1_en.pdf" target="_blank">Tour: Struga-Velgosti-Ohrid <br>Click</a></li>
            </ul>
        </div>
    </div>
</body>
</html>