<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сезони</title>
    <link rel="stylesheet" href="static/css/stil.css">
</head>
<body>
    <div id="kontejner">
        <div id="letna-sezona" class="sezona">
            <h2>Летна сезона</h2>
            <ul>
                <li><a href="static/images/soopstenie1.pdf" target="_blank">Тура: Струга-Охрид-Струга <br>Кликни</a></li>
                <li><a href="static/images/soopstenie1.pdf" target="_blank">Тура: Струга-Охрид-Св.Наум <br>Кликни</a></li>
            </ul>
        </div>
        <div id="zimska-sezona" class="sezona">
            <h2>Зимска сезона</h2>
            <ul>
                <li><a href="static/images/soopstenie1.pdf" target="_blank">Тура: Струга-Велестово-Струга <br>Кликни</a></li>
                <li><a href="static/images/soopstenie1.pdf" target="_blank">Тура: Струга-Велгожди-Охрид <br>Кликни</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

